.hero {
    background-color: #eeebe21f;

    .container {
        
        @include breakpoint-up(large) {
            display: flex;
            align-items: center;
        }
    }

    &__image {
        background-image: url('../images/bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 280px;

        @include breakpoint-up(large) {
            flex: 3;
            order: 2;
            height: 650px;
        }
    }

    &__text {
        text-align: center;

        @include breakpoint-up(large) {
            flex: 2;
            order: 1;
            text-align: left;
        }
    }
}