<section class="about">

    <h1>About Us</h1>

    <div class="about__content">
        <div class="about__image1"></div>
        <div class="about__text">Text about restaurant goes here
            <br><br>
            Benilfini's
            </div>
        <div class="about__image2"></div>
    </div>

</section>