<section class="articles">

    <div class="article__content container container__pall">
        

        <div class="article__grid">

            <div class="article__item">
                <div class="article__image1"></div>
            </div>

            <div class="article__item"> 
                <LinkTo @route="about">
                <div class="article__text">
                   
                    <div class="article__title">Want to know more about us?</div>
                    <div class="article__description">Click here</div>
                </div>
                </LinkTo>
            </div>

            <div class="article__item">
                <div class="article__image2"></div>
            </div>
            
            
            <div class="article__item">
                <LinkTo @route="contact">
                <div class="article__text">
                    
                    <div class="article__title">We would like to hear from you!</div>
                    <div class="article__description">Click here</div>
                </div>
                </LinkTo>
            </div>
            
        </div>
    </div>
</section>