<div class="safe">
<section class="feature container container--pall">
    <div class="feature__intro">
    <h2>Why choose us?</h2>
    <p>We offer most you can get for your money, fresh food, carefully selected and made with passion!</p>
    </div>

    <div class="feature__grid">
        <div class="feature__item">
            <div class="feature__image1"></div>
        </div>

    <div class="feature__item">
            <div class="feature__image2"></div>
        </div>

    <div class="feature__item">
            <div class="feature__image3"></div>
        </div>
    </div>
</section>
</div>
