<footer class="footer">
    <div class="container">

    <div class="footer__logo">Benilfini's</div>

    <div class="footer__social">
        <a href="#">
            <svg fill="#fff" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="24px" height="24px"> <title>Facebook</title>   <path d="M12,0C5.373,0,0,5.373,0,12c0,6.016,4.432,10.984,10.206,11.852V15.18H7.237v-3.154h2.969V9.927c0-3.475,1.693-5,4.581-5 c1.383,0,2.115,0.103,2.461,0.149v2.753h-1.97c-1.226,0-1.654,1.163-1.654,2.473v1.724h3.593L16.73,15.18h-3.106v8.697 C19.481,23.083,24,18.075,24,12C24,5.373,18.627,0,12,0z"/></svg>
        </a>

        <a href="#">
            <svg fill="#fff" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="24px" height="24px"> <title>Youtube</title> <path d="M 44.898438 14.5 C 44.5 12.300781 42.601563 10.699219 40.398438 10.199219 C 37.101563 9.5 31 9 24.398438 9 C 17.800781 9 11.601563 9.5 8.300781 10.199219 C 6.101563 10.699219 4.199219 12.199219 3.800781 14.5 C 3.398438 17 3 20.5 3 25 C 3 29.5 3.398438 33 3.898438 35.5 C 4.300781 37.699219 6.199219 39.300781 8.398438 39.800781 C 11.898438 40.5 17.898438 41 24.5 41 C 31.101563 41 37.101563 40.5 40.601563 39.800781 C 42.800781 39.300781 44.699219 37.800781 45.101563 35.5 C 45.5 33 46 29.398438 46.101563 25 C 45.898438 20.5 45.398438 17 44.898438 14.5 Z M 19 32 L 19 18 L 31.199219 25 Z"/></svg>
        </a>

        <a href="#">
            <svg fill="#fff" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="24px" height="24px"> <title>Twitter</title> <path d="M 24 4.300781 C 23.101563 4.699219 22.199219 5 21.199219 5.101563 C 22.199219 4.5 23 3.5 23.398438 2.398438 C 22.398438 3 21.398438 3.398438 20.300781 3.601563 C 19.300781 2.601563 18 2 16.601563 2 C 13.898438 2 11.699219 4.199219 11.699219 6.898438 C 11.699219 7.300781 11.699219 7.699219 11.800781 8 C 7.699219 7.800781 4.101563 5.898438 1.699219 2.898438 C 1.199219 3.601563 1 4.5 1 5.398438 C 1 7.101563 1.898438 8.601563 3.199219 9.5 C 2.398438 9.398438 1.601563 9.199219 1 8.898438 C 1 8.898438 1 8.898438 1 9 C 1 11.398438 2.699219 13.398438 4.898438 13.800781 C 4.5 13.898438 4.101563 14 3.601563 14 C 3.300781 14 3 14 2.699219 13.898438 C 3.300781 15.898438 5.101563 17.300781 7.300781 17.300781 C 5.601563 18.601563 3.5 19.398438 1.199219 19.398438 C 0.800781 19.398438 0.398438 19.398438 0 19.300781 C 2.199219 20.699219 4.800781 21.5 7.5 21.5 C 16.601563 21.5 21.5 14 21.5 7.5 C 21.5 7.300781 21.5 7.101563 21.5 6.898438 C 22.5 6.199219 23.300781 5.300781 24 4.300781"/></svg>
        </a>

        <a href="#">
            <svg fill="#fff" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 26 26" width="24px" height="24px"> <title>Instagram</title> <path d="M 7.546875 0 C 3.390625 0 0 3.390625 0 7.546875 L 0 18.453125 C 0 22.609375 3.390625 26 7.546875 26 L 18.453125 26 C 22.609375 26 26 22.609375 26 18.453125 L 26 7.546875 C 26 3.390625 22.609375 0 18.453125 0 Z M 7.546875 2 L 18.453125 2 C 21.527344 2 24 4.46875 24 7.546875 L 24 18.453125 C 24 21.527344 21.53125 24 18.453125 24 L 7.546875 24 C 4.472656 24 2 21.53125 2 18.453125 L 2 7.546875 C 2 4.472656 4.46875 2 7.546875 2 Z M 20.5 4 C 19.671875 4 19 4.671875 19 5.5 C 19 6.328125 19.671875 7 20.5 7 C 21.328125 7 22 6.328125 22 5.5 C 22 4.671875 21.328125 4 20.5 4 Z M 13 6 C 9.144531 6 6 9.144531 6 13 C 6 16.855469 9.144531 20 13 20 C 16.855469 20 20 16.855469 20 13 C 20 9.144531 16.855469 6 13 6 Z M 13 8 C 15.773438 8 18 10.226563 18 13 C 18 15.773438 15.773438 18 13 18 C 10.226563 18 8 15.773438 8 13 C 8 10.226563 10.226563 8 13 8 Z"/></svg>
        </a>

        <a href="#">
            <svg fill="#fff" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 26 26" width="24px" height="24px"> <title>Pinterest</title> <path d="M 13 0.1875 C 5.925781 0.1875 0.1875 5.925781 0.1875 13 C 0.1875 18.421875 3.558594 23.046875 8.316406 24.917969 C 8.296875 24.480469 8.296875 22.210938 9.875 15.441406 C 10.085938 13.183594 9.792969 12.382813 9.792969 11.445313 C 9.792969 9.316406 10.898438 8.867188 11.546875 8.867188 C 12.46875 8.867188 13.738281 9.21875 13.738281 10.703125 C 13.738281 12.402344 12.351563 12.851563 12.351563 12.851563 C 12.351563 12.851563 12.253906 13.285156 12.136719 14.492188 C 12.023438 15.703125 12.507813 17.015625 14.480469 17.015625 C 17.644531 17.015625 18.132813 12.621094 18.132813 11.410156 C 18.132813 9.742188 16.910156 6.351563 13.109375 6.351563 C 8.042969 6.351563 7.171875 10.890625 7.171875 12.101563 C 7.171875 12.621094 7.3125 13.535156 7.410156 13.925781 C 8.367188 14.082031 8.269531 15.390625 7.859375 15.761719 C 7.40625 16.171875 5.066406 16.660156 5.066406 11.527344 C 5.066406 6.640625 9.421875 4.121094 13.246094 4.121094 C 16.886719 4.121094 20.847656 6.632813 20.847656 11.46875 C 20.847656 15.789063 17.746094 19.1875 14.484375 19.1875 C 12.527344 19.1875 11.488281 17.574219 11.488281 17.574219 C 11.488281 19.085938 8.714844 24.273438 8.359375 24.933594 C 9.800781 25.492188 11.363281 25.8125 13 25.8125 C 20.078125 25.8125 25.8125 20.078125 25.8125 13 C 25.8125 5.921875 20.074219 0.1875 13 0.1875 Z"/></svg>
        </a>
    </div>

    <div class="footer__links col1">
        <LinkTo @route="menu">Menu</LinkTo>
        <LinkTo @route="about">About</LinkTo>
        <LinkTo @route="contact">Contact</LinkTo>
    </div>

    <div class="footer__links col2">
        Mon - Fri: 11am - 10pm​<br>

        Sat - Sun: 11am - 11pm
    </div>

    <div class="footer__cta">
        <LinkTo @route="cart" class="button">Order Now!</LinkTo>
    </div>

    <div class="footer__copyright">
        &copy; Benilfini's. All Rights Reserved.
    </div>

    </div>
</footer>